.content {
    display: flex;
    flex-direction: row;
}
.cv-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.job-section {
    background-color: white;
    border: var(--bdr-default);
    padding: 2em;
    margin: 1em;
    display:flex;
    flex-direction: row;
}

.job-section-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.job-title {
    padding-bottom: 2em;
}

.company-logo {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
    max-width: 7em;
}

.date-section {
    margin: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   text-align: center;
}